

root { 
    display: block;

}

body
{
	margin: 0em;
	padding: 0em;
}
#page
{
	line-height: 180%;
	margin: 0em;
	padding: 0em;
	width: 100%;
}
#header
{
        margin: 0;
	height: 135px;
	padding-left: 0.6em;
}
#menu
{
        clear: both;
	margin: 1%;
        margin-left: 15%;
	padding: 0.8em 0.8em;
        height: 15px;
}
#leftSidebar
{
	float: left;
	margin-left: 1%;
        margin-bottom: 1%;
	padding: 0;
	width: 17%;
}

#content
{
	margin-left: 19%;
	//padding: 1.25em 0.8em;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
	//padding: 0.625em;
        margin-bottom: 1%;
        margin-right: 1%; 
}

#footer
{
        clear: both; 
	margin: 0 auto;
	padding: 0.8em 0.8em;
	text-align: center;
}
