/* 
    Document   : general
    Author     : Luca Pisanu
    Description:
        Purpose of the stylesheet follows.
*/

root{
    display: block;
}



body{ 
    background-image: url(../Images/background.png); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    font-family: "Times New Roman", Arial, Verdana, sans-serif, Helvetica;
    font-size: 13px;  
}

#header{
    background-image: url(../Images/title.png);
    background-size: 90%;
    background-repeat: no-repeat;
    //background-color: rgba(255,255,255,0.6);
    color: black; 
    border-radius: 6px;  
    vertical-align: middle;
    background-position: center;
}

#menu{
    line-height: normal;
    margin: 0px;
    white-space: nowrap;
}

#menu ul{     
    float: left; 
    list-style-type: none; 
    margin:3px;
    text-decoration:none;
}

#menu li {
    font-size:15px;
    float:left; 
    padding: 2px;
    margin-left: 10px;
    text-decoration:none;
}

#menu a:link, #menu a:visited{
    font-weight:100;
    color: black;
    text-transform: uppercase;
    font-family:'Times New Roman', Groove, Normal;
    text-decoration:none;
    padding: 3px;  

}

#menu a:hover, #menu a:active{
    font-weight: bold; 
}


#leftSidebar{ 
   background-color: rgba(0,0,0,0.1); 
   border-radius: 6px;
   padding: 0 auto;
}

#leftSidebar ul{
   color: black;
   padding: 2px;
   margin-left: 2px;
   list-style-type: none;
   
}

#leftSidebar li{
   text-decoration: none;
   padding-left: 3px;
}

#leftSidebar a:link, #leftSidebar a:visited{
    font-size: 15px;
    color: black;
    text-align: left;
    font-family:  'Times New Roman', Groove, Normal; 
    text-decoration: none;  
}

#leftSidebar a:hover, #leftSidebar a:active{
    font-weight: bold;
} 

.leftItem{
    color: black; 
    text-transform: uppercase;
}

#currentPage{
    border-bottom: 1px solid black; 
}

#leftSidebar #currentPage{
    font-size: 13px;
    border-bottom: 1px solid black;
    border-top: 1px solid black; 
}

#content{  
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}


label.full{
    display: inline-block;
    width: 70%;
}

label{
    display: inline-block;
    width: 35%;
}

#content h3 {
    text-align: left;
    text-decoration: underline;
}

#footer {
    background-color: rgba(0,0,0,0.1);
    color:black;
    font-family: Arial;
    vertical-align: middle;
    padding-left: 20px; 
}

#footer a:link, #footer a:visited{
    font-weight: bold;
    font-size: 9px;
    color: black;
    text-align: left;
    font-family: Verdana, Normal; 
    text-decoration:underline;  
}

#footer a:hover, #footer a:active{
    font-size: 11px;
} 