/* 
    Document   : general
    Author     : Luca Pisanu
    Description:
        Purpose of the stylesheet follows.
*/

root{
    display: block; 
}

body{
    background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment:fixed;; 
    font-family: "Times New Roman", Arial, Verdana, sans-serif, Helvetica;
    font-size: 13px;  
}

#header{
    background-color: rgba(61,132,143,0.2);
    color: black; 
    border: 2px solid #3D848F; 
    border-radius: 6px;  
    vertical-align: middle;
    background-image: url(../Images/car.jpg);
    background-position: center;
}

#menu{
    display: block;
    color: white;
    font-family: Arial, Helvetica, serif;
    font-size: 14px;
    line-height: normal;
    margin: 0px;
    white-space: nowrap;
}

#menu ul{     
    left:20%;
    float: left; 
    list-style-type: none; 
    margin:3px;
    padding:5px;
    position: relative;
    text-decoration:none;
}

#menu li {
    font-size:12px;
    float:left; 
    padding: 2px;
    margin-left: 18px;
    text-decoration:none;
}

#menu a:link, #menu a:visited{
    font-weight: bold;
    color: black;
    font-family: Verdana, Normal;
    text-decoration:none;
    padding: 3px;  

}

#menu a:hover, #menu a:active{
    color: #3D848F;
    font-size: 15px;
    text-decoration:none;
    white-space: nowrap;

}


#leftSidebar{ 
   background-color: rgba(61,132,143,0.2); 
   border: 2px solid #3D848F; 
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

#leftSidebar ul{
   color: #3D848F;
   padding-left: 3%; 
   padding-right: 3%;  
   margin-top: 4%;
   margin-right: 4%;
   text-decoration:none;
   list-style-type: none;
}

#leftSidebar li{
   padding-left: 4%; 
   padding-right:2% ; 
   margin-top: 10%;
   margin-bottom: 10%;
}

#leftSidebar a:link, #leftSidebar a:visited{
    font-size: 12px;
    color: black;
    text-align: left;
    font-family: Verdana, Normal; 
    text-decoration:none;  
}

#leftSidebar a:hover, #leftSidebar a:active{
    color: #3D848F;
    font-size: 15px;
} 

.leftItem{
    font-style: italic; 
    color: #3D848F; 
    font-weight: bold;  
    text-transform: uppercase;
    margin-top: 50px;
}

#currentPage{
    font-size: 14px; 
    color: black;
    font-style: italic; 
    font-family: Groove;
    text-decoration: underline;
}

.currentPage{
    font-size: 14px; 
    color: black;
    font-style: italic; 
    font-family: Groove;
    text-decoration: underline;
}

#content{  
    background-color: rgba(61,132,143,0.2);
    border: 2px solid #3D848F;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 13px;
    padding-left: 5%;
}


label.full{
    display: inline-block;
    width: 70%;
}

label{
    display: inline-block;
    width: 35%;
}

#content h3 {
    text-align: left;
    text-decoration: underline;
}

#footer {
    background-color: rgba(61,132,143,0.2);
    border-radius: 6px;
    border: 2px solid #3D848F;
    color:black;
    font-family: arial;
    vertical-align: middle;
    padding-left: 20px; 
}



